{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block content %}

<a class="btn btn-success mb-3" href="{% url 'assetservices:crypto-list' %}">{% translate 'Back' %}</a>

<button class="btn btn-success mb-3" id="btn_track_this" data-toggle="modal" data-target="#modal_track_this">{% translate 'Track This' %}</button>

<div class="row px-3">
    <div class="alert alert-app col-12 col-md-4 text-center">
        <strong>{{ object.name }} ({{ object.symbol }})</strong>
    </div>
    <div class="col-md-8"></div>
    <div class="alert alert-app col-12 col-md-4 text-center">
        <p><strong>Rank:</strong> #{{ object.current_value.rank }}</p>
        <p>
            <strong>{% translate 'Current price' %}:</strong> 
            $ {{ object.current_value.price|floatformat:2|intcomma }}
        </p>
        <p>
            <strong>{% translate 'Total market cap' %}:</strong> 
            $ {{ object.current_value.market_cap|floatformat:2|intcomma }}
        </p>
        <p>
            <strong>{% translate 'Traded in last 24h' %}:</strong> 
            $ {{ object.current_value.volume|floatformat:2|intcomma }}
        </p>
        <p>
            <strong>{% translate 'Circulating supply' %}:</strong> 
            $ {{ object.current_value.circulating_supply|floatformat:2|intcomma }}
        </p>

        <div class="row">
            <strong class="col-12">Last Changes:</strong>
        
            <div class="col-6">{% translate 'Last hour' %}:</div>
            <div class="col-6" style="color:{% if object.current_value.percent_change_1h > 0 %}green{% elif object.current_value.percent_change_1h < 0 %}red{% else %}grey{% endif %}">% {{ object.current_value.percent_change_1h|floatformat:2|intcomma }}</div>
        
            <div class="col-6">{% translate 'Last day' %}:</div>
            <div class="col-6" style="color:{% if object.current_value.percent_change_24h > 0 %}green{% elif object.current_value.percent_change_24h < 0 %}red{% else %}grey{% endif %}">% {{ object.current_value.percent_change_24h|floatformat:2|intcomma }}</div>
        
            <div class="col-6">{% translate 'Last week' %}:</div>
            <div class="col-6" style="color:{% if object.current_value.percent_change_7d > 0 %}green{% elif object.current_value.percent_change_7d < 0 %}red{% else %}grey{% endif %}">% {{ object.current_value.percent_change_7d|floatformat:2|intcomma }}</div>
        
            <div class="col-6">{% translate 'Last month' %}:</div>
            <div class="col-6" style="color:{% if object.current_value.percent_change_30d > 0 %}green{% elif object.current_value.percent_change_30d < 0 %}red{% else %}grey{% endif %}">% {{ object.current_value.percent_change_30d|floatformat:2|intcomma }}</div>
        
            <div class="col-6">{% translate 'Last two months' %}:</div>
            <div class="col-6" style="color:{% if object.current_value.percent_change_60d > 0 %}green{% elif object.current_value.percent_change_60d < 0 %}red{% else %}grey{% endif %}">% {{ object.current_value.percent_change_60d|floatformat:2|intcomma }}</div>
        
            <div class="col-6">{% translate 'Last three months' %}:</div>
            <div class="col-6" style="color:{% if object.current_value.percent_change_90d > 0 %}green{% elif object.current_value.percent_change_90d < 0 %}red{% else %}grey{% endif %}">% {{ object.current_value.percent_change_90d|floatformat:2|intcomma }}</div>
        
            <div class="col-12"><small>{% translate 'All the values are expressed in USD' %}.</small></div>
        </div>

    </div>
</div>

{% include 'crypto/modal_track_this.html' %}

{% endblock %}