{% extends 'main.html' %}
{% load i18n %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-app col-12 col-md-4 text-center">
            <h3>{% translate 'Account Info' %}</h3>
            <p>Email: {{ request.user.email }}</p>
        </div>
    </div>
    <div class="col-12">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th class="text-center" colspan="5">
                        {% translate 'Crypto Currencies Tracked' %}
                    </th>
                </tr>
                <tr class="text-center">
                    <th>{% translate 'Actions' %}</th>
                    <th>{% translate 'Crypto' %}</th>
                    <th>{% translate 'Value When Tracked' %}</th>
                    <th>{% translate 'Tracking Change' %}</th>
                    <th>{% translate 'Notification Platform' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for crypto_tracking in crypto_trackings %}
                <tr>
                    <td class="text-center">
                        <a href="{% url 'assetservices:crypto-tracking-delete' crypto_tracking.id %}" class="btn btn-danger" data-toggle="tooltip" title="{% translate 'Delete' %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                    <td>{{ crypto_tracking.crypto_currency.name }} ({{ crypto_tracking.crypto_currency.symbol }})</td>
                    <td class="text-right">$ {{ crypto_tracking.value_when_tracked|floatformat:2|intcomma }}</td>
                    <td class="text-right">{% if crypto_tracking.desired_value_type == 'V' %}${% else %}%{% endif %} {{ crypto_tracking.desired_value|floatformat:2|intcomma }}</td>
                    <td>{{ crypto_tracking.notification_platform }}</td>
                </tr>
                {% endfor %}
                {% if not crypto_trackings %}
                <tr><td class="text-center" colspan="5">Check the <a href="{% url 'assetservices:crypto-list' %}">crypto currencies list</a> to start tracking</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
