{% extends 'main.html' %}
{% load static %}
{% load i18n %}


{% block content %}

{% if user.is_authenticated %}
<!-- todo -->
{% else %}
<div class="alert alert-app col-12 col-md-6 offset-md-3">
    <form class="row text">
        <div class="col-12 my-2 text-center">
            <h3>
                {% translate 'Register your account' %}
            </h3>
        </div>
        {% for field in signup_form %}
            <div class="col-12 my-2">
                {{ field }}
            </div>
        {% endfor %}
        <div class="col-12 my-2">
            <button class="btn btn-success btn-block">{% translate 'Signup' %}</button>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}
