{% load static %}
{% load i18n %}


<header class="navbar navbar-expand navbar-dark bg-app flex-column flex-md-row bd-navbar">

    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Hitmeapp">
        <h3>Hitmeapp</h3>
    </a>

    <div class="navbar-nav-scroll ml-md-auto">
        <form method="POST">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                {% if user.is_authenticated %}
                {% else %}
                {% for field in request.login_form %}
                <li class="nav-item px-1">
                    {{ field }}
                </li>
                {% endfor %}
                <li class="nav-item px-1">
                    <button class="btn btn-success">{% translate 'Login' %}</button>
                </li>
                {% endif %}
            </ul>
        </form>
    </div>

</header>