{% load i18n %}

<div class="col-md-3 col-xl-2 bd-sidebar app-sidebar">

    <button class="btn bd-search-docs-toggle d-md-none p-0 float-right collapsed" type="button" data-toggle="collapse"
        data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"
        aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"
            focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                d="M4 7h22M4 15h22M4 23h22"></path>
        </svg>
    </button>

    <div class="d-md-block row collapse" id="bd-docs-nav">
        <nav class="bd-links px-md-3 py-md-3" aria-label="Main navigation">

            <h4>{% translate 'Assets list' %}</h4>

            {% for asset_service in request.asset_services_list %}

            <div class="bd-toc-item">
                {% if asset_service.status.value == 'Available' %}
                <a class="bd-toc-link" href="{{ asset_service.url }}">
                {% else %}
                <span class="bd-toc-link" color="grey">
                {% endif %}

                    {{ asset_service.name }} 
                    {% if asset_service.status.value == 'Comming Soon!' %}<span class="badge-pill badge-success">{% translate 'Comming Soon!' %}</span>
                    {% elif asset_service.status.value == 'Under Maintenance' %}<span class="badge-pill badge-danger">{% translate 'Under Maintenance' %}</span>
                    {% endif %}

                {% if asset_service.status.value == 'Available' %}
                </a>
                {% else %}
                </span>
                {% endif %}
            </div>

            {% endfor %}

        </nav>
    </div>

</div>