{% load i18n %}

<div class="col-md-3 col-xl-2 bd-sidebar app-sidebar">

    <button class="btn bd-search-docs-toggle d-md-none p-0 float-right collapsed" type="button" data-toggle="collapse"
        data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"
        aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"
            focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                d="M4 7h22M4 15h22M4 23h22"></path>
        </svg>
    </button>

    <div class="d-md-block row collapse" id="bd-docs-nav">
        <nav class="bd-links px-md-3 py-md-3" aria-label="Main navigation">

            <h4>{% translate 'Assets list' %}</h4>

            <div class="bd-toc-item">
                <a class="bd-toc-link" href="/docs/4.6/getting-started/introduction/">
                    Crypto currency
                </a>
            </div>

            <div class="bd-toc-item">
                <a class="bd-toc-link" href="/docs/4.6/layout/overview/">
                    Mercado Libre
                </a>
            </div>

            <div class="bd-toc-item">
                <span class="bd-toc-link disabled" href="#" style="color: grey">
                    Amazon <span class="badge-pill badge-success">{% translate 'Comming soon!' %}</span>
                </span>
            </div>

        </nav>
    </div>

</div>