<div class="col-md-3 col-xl-2 bd-sidebar">
    <form role="search" class="bd-search d-flex align-items-center">
        <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;"><input
                type="search" class="form-control ds-input" id="search-input" placeholder="Search..."
                aria-label="Search for..." autocomplete="off" data-docs-version="4.6" spellcheck="false" role="combobox"
                aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto"
                style="position: relative; vertical-align: top;">
            <pre aria-hidden="true"
                style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, &quot;Liberation Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
            <span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0"
                style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;">
                <div class="ds-dataset-1"></div>
            </span>
        </span>
        <button class="btn bd-search-docs-toggle d-md-none p-0 ml-3 collapsed" type="button" data-toggle="collapse"
            data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"
            aria-label="Toggle docs navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"
                focusable="false">
                <title>Menu</title>
                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                    d="M4 7h22M4 15h22M4 23h22"></path>
            </svg>
        </button>
    </form>

    <div class="d-md-block row collapse" id="bd-docs-nav" style="">
        <nav class="bd-links" aria-label="Main navigation">

            <div class="bd-toc-item">
                <a class="bd-toc-link" href="/docs/4.6/getting-started/introduction/">
                    Getting started
                </a>
            </div>

            <div class="bd-toc-item">
                <a class="bd-toc-link" href="/docs/4.6/layout/overview/">
                    Layout
                </a>
            </div>

            <div class="bd-toc-item">
                <a class="bd-toc-link" href="/docs/4.6/content/reboot/">
                    Content
                </a>
            </div>

            <div class="bd-toc-item active">
                <a class="bd-toc-link" href="/docs/4.6/components/alerts/">
                    Components
                </a>
                <ul class="nav bd-sidenav">
                    <li class="active bd-sidenav-active">
                        <a href="/docs/4.6/components/alerts/">Alerts</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/badge/">Badge</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/breadcrumb/">Breadcrumb</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/buttons/">Buttons</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/button-group/">Button group</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/card/">Card</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/carousel/">Carousel</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/collapse/">Collapse</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/dropdowns/">Dropdowns</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/forms/">Forms</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/input-group/">Input group</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/jumbotron/">Jumbotron</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/list-group/">List group</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/media-object/">Media object</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/modal/">Modal</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/navs/">Navs</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/navbar/">Navbar</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/pagination/">Pagination</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/popovers/">Popovers</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/progress/">Progress</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/scrollspy/">Scrollspy</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/spinners/">Spinners</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/toasts/">Toasts</a>
                    </li>
                    <li>
                        <a href="/docs/4.6/components/tooltips/">Tooltips</a>
                    </li>
                </ul>
            </div>

            <div class="bd-toc-item">
                <a class="bd-toc-link" href="/docs/4.6/utilities/borders/">
                    Utilities
                </a>
            </div>

            <div class="bd-toc-item">
                <a class="bd-toc-link" href="/docs/4.6/extend/approach/">
                    Extend
                </a>
            </div>

            <div class="bd-toc-item">
                <a class="bd-toc-link" href="/docs/4.6/migration/">
                    Migration
                </a>
            </div>

            <div class="bd-toc-item">
                <a class="bd-toc-link" href="/docs/4.6/about/overview/">
                    About
                </a>
            </div>
        </nav>
    </div>

</div>